<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IssueTimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <IssueTimeTracker.Properties.Settings>
            <setting name="Notification_Screen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Notification_Corner" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Notification_Direction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Notification_Frequency" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="Timer_TestStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timer_TotalProgressColor" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="Timer_CurrentTaskColor" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="Log_WriteXlsx" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Log_CurrentTaskID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Log_XlsxDestination" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="Log_CurrentDayID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Timer_StartLocation" serializeAs="String">
                <value>100, 75</value>
            </setting>
            <setting name="Notification_Sound" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="Jira_Username" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="Jira_Link" serializeAs="String">
                <value>https://jira.eccoviasolutions.com/</value>
            </setting>
            <setting name="Jira_AutoCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Notification_Color" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Notification_TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Notification_Scale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Migrated" serializeAs="String">
                <value>False</value>
            </setting>
        </IssueTimeTracker.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.2.1.0" newVersion="106.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>